<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szl.oa.project.module.dailyApprove.mapper.DailyApproveMapper">
    
    <resultMap type="DailyApprove" id="DailyApproveResult">
        <result property="approveId"    column="approve_id"    />
        <result property="createId"    column="create_id"    />
        <result property="dailyId"    column="daily_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <association property="daily"    column="daily_id" javaType="Daily" resultMap="dailyResult"/>
    </resultMap>

    <resultMap id="dailyResult" type="Daily">
        <id  property="dailyId"    column="daily_id"    />
        <result property="workContent"    column="work_content"    />
        <result property="workDate"    column="work_date"    />
        <result property="workHours"    column="work_hours"    />
        <result property="opinion"    column="opinion"    />
        <result property="status"    column="status"    />
        <result property="createId"    column="create_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectDailyApproveVo">
        select sda.approve_id, sda.daily_id,sda.update_time,sd.work_content, sd.work_date, sd.work_hours,sd.create_id, sd.create_by, sd.create_time,
        sd.update_by, sd.update_time, sd.remark,sd.status,sd.opinion
        from sys_daily_approve sda left join sys_daily sd
              on sda.daily_id = sd.daily_id
    </sql>
	
    <select id="selectDailyApproveList" parameterType="DailyApprove" resultMap="DailyApproveResult">
        <include refid="selectDailyApproveVo"/>
        <where>
            <if test="createBy != null and createBy != ''">
                and sd.create_by like concat('%', #{createBy}, '%')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(sd.work_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(sd.work_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
         </where>
    </select>
    
    <select id="selectDailyApproveById" parameterType="Long" resultMap="DailyApproveResult">
        <include refid="selectDailyApproveVo"/>
        where approve_id = #{approveId}
    </select>

    <select id="selectDailyByDailyId" parameterType="Long" resultMap="DailyApproveResult">
        <include refid="selectDailyApproveVo"/>
        where sda.daily_id = #{dailyId}
    </select>

        
    <insert id="insertDailyApprove" parameterType="DailyApprove">
        insert into sys_daily_approve
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="approveId != null and approveId != '' ">approve_id,</if>
			<if test="createId != null and createId != '' ">create_id,</if>
			<if test="dailyId != null and dailyId != '' ">daily_id,</if>
            <if test="createTime != null and createTime != '' ">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="approveId != null and approveId != ''">#{approveId},</if>
			<if test="createId != null and createId != ''">#{createId},</if>
			<if test="dailyId != null and dailyId != ''">#{dailyId},</if>
            <if test="createTime != null and createTime != ''">#{createTime},</if>
         </trim>
    </insert>
	 
    <update id="updateDailyApprove" parameterType="DailyApprove">
        update sys_daily_approve
        <trim prefix="SET" suffixOverrides=",">
            <if test="createId != null  ">create_id = #{createId},</if>
            <if test="dailyId != null  ">daily_id = #{dailyId},</if>
            update_time = sysdate()
        </trim>
        where approve_id = #{approveId}
    </update>

	<delete id="deleteDailyApproveById" parameterType="Long">
        delete from sys_daily_approve where approve_id = #{approveId}
    </delete>
	
    <delete id="deleteDailyApproveByIds" parameterType="String">
        delete from sys_daily_approve where approve_id in 
        <foreach item="approveId" collection="array" open="(" separator="," close=")">
            #{approveId}
        </foreach>
    </delete>
    
</mapper>